body {
  background-color: #080a0f;
}

#container {
  background-color: grey;
  max-width: 1024px;
  margin: 50px auto auto auto;
  display: grid;
  grid-template-columns: auto auto;
  border: solid 2px black;
  padding: 1rem;
  border-radius: 5px;
}

#myTitle {
  padding: 1rem 0;
  font-size: 1.3rem;
}

#myInteraction {
  padding: 10px;
}

#myImage {
  max-width: 100%;
}

#minimap {
  cursor: pointer;
}

#myImageButtons {
  margin-top: 0.5rem;
}

#myImageButtons button {
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

#myInteraction canvas {
  margin-top: 1rem;
}
